Automation Workflows/Internship Workflow-3.json
{
  "name": "Internship Workflow-3",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/my_stuff/datasets/MSRVTT/msrvtt_train_7k_short.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        496,
        -144
      ],
      "id": "669b899b-7144-456e-8d23-f95125798bf5",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -144
      ],
      "id": "db70955c-baa5-4fca-86c6-26944a5f8261",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Ensure consistent structure\nconst blocks = Array.isArray(input) ? input : [input];\nconst output = [];\n\nfor (const block of blocks) {\n  const entries = block.data || [];\n\n  for (const entry of entries) {\n    output.push({\n      json: {\n        video_id: entry.video_id,\n        caption: entry.caption,   // ⬅ FULL ARRAY, NOT SPLIT\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -144
      ],
      "id": "bca4a859-5e62-4afe-ab7d-17afcfc9fffa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        -144
      ],
      "id": "de3d1d7d-e4c7-4a7a-a816-e9e128c1ad89",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/my_stuff/datasets/Video-Summary-Generator\\notebooks\\videos.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1392,
        -144
      ],
      "id": "c82b2b9a-ba93-4d71-a57a-f2530397ac6f",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items – each item is one row\nconst inputItems = $input.all();\n\nif (inputItems.length === 0) {\n  throw new Error('No input items received');\n}\n\n// Take keys from the first item as CSV headers\nconst headers = Object.keys(inputItems[0].json);\n\n// Helper to escape CSV values\nfunction escapeCsv(value) {\n  if (value === null || value === undefined) return '';\n  return `\"${String(value).replace(/\"/g, '\"\"')}\"`;\n}\n\n// Build CSV lines\nconst lines = [];\n\n// Header row\nlines.push(headers.map(escapeCsv).join(','));\n\n// Data rows\nfor (const item of inputItems) {\n  const row = headers.map(h => escapeCsv(item.json[h]));\n  lines.push(row.join(','));\n}\n\nconst csv = lines.join('\\n');\n\n// Convert to base64 for binary\nconst data = Buffer.from(csv, 'utf8').toString('base64');\n\n// Return single item with binary for Write Binary File\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data,\n        mimeType: 'text/csv',\n        fileName: 'videos.csv',\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -144
      ],
      "id": "1d6adec9-1bf8-43cd-a08c-9c615f682155",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        496,
        592
      ],
      "id": "b957310e-93b8-492d-aeb4-6bc85a2bf057",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "fileSelector": "/my_stuff/coding/Video-Summary-Generator/notebooks/test_results.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        288,
        592
      ],
      "id": "b22e131f-b68b-489c-b5e6-50ccb1fe63a1",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "command": "cd /my_stuff/coding/Video-Summary-Generator\n.venv/Scripts/activate\npython ./notebooks/test.py\ndeactivate"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        928,
        224
      ],
      "id": "17dde4b0-7aec-4d2e-8b6b-8a76713dca0d",
      "name": "Execute Command",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        592
      ],
      "id": "d2b224f9-2377-4b9b-a48c-46b945bc7415",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst newItems = items.map(item => {\n  const premade = item.json.premade_summary || '';\n  const summary = item.json.pipeline_summary_output || '';\n\n  // Split captions by comma\n  const captions = premade\n    .split(',')\n    .map(c => c.trim())\n    .filter(c => c.length > 0);\n\n  // Compact instructions for LLM\n  const prompt = `\nYou are checking which captions are supported by a video summary.\n\nInstructions:\n- For each caption, output \"1\" if the caption's meaning is clearly supported by the summary.\n- Output \"0\" if it is not supported or not clearly present.\n- Output exactly one line per caption, in the same order.\n- Each line must contain ONLY \"1\" or \"0\", no extra words.\n\nSummary:\n<<<\n${summary}\n>>>\n\nCaptions:\n${captions.map((c, i) => `${i + 1}. ${c}`).join('\\n')}\n\nOutput (one line per caption, only 1 or 0):\n`.trim();\n\n  return {\n    json: {\n      ...item.json,\n      captions,\n      llm_prompt: prompt,\n    },\n  };\n});\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        720
      ],
      "id": "4d8692ee-57c0-4c97-8051-934f54ac5755",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm_prompt }}",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1136,
        720
      ],
      "id": "db167980-e6d2-4f53-992a-331a33cf5f23",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        928
      ],
      "id": "5818939b-b8eb-473e-bb5f-791f5f25f447",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NhxOfvOF5ILqxwWe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1184,
        928
      ],
      "id": "112dce3c-3136-45f3-9e7c-9d5f7ebc4a39",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6t2DQXs5VkSsUDmy",
          "name": "OpenRouter account (backup)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst newItems = items.map(item => {\n  const text = (item.json.output || '').trim();\n  const captions = $('Code in JavaScript2').first().json.captions || [];\n\n  // Split \"1\\n0\\n1...\" into lines\n  const lines = text\n    .split(/\\r?\\n/)\n    .map(l => l.trim())\n    .filter(l => l.length > 0);\n\n  // Map each caption to its 1/0\n  const captionDetails = captions.map((caption, index) => {\n    const raw = lines[index] || '0';   // default to 0 if missing\n    const present = raw === '1';\n    return {\n      caption,\n      present,\n      raw, // what the model actually wrote\n    };\n  });\n\n  const total = captionDetails.length;\n  const matched = captionDetails.filter(c => c.present).length;\n  const accuracy = total > 0 ? matched / total : 0; // 0–1\n\n  return {\n    json: {\n      ...item.json,\n      caption_details: captionDetails,\n      total_captions: total,\n      matched_captions: matched,\n      accuracy,               // e.g. 0.7\n      accuracy_percent: Math.round(accuracy * 100)  // e.g. 70\n    },\n  };\n});\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        720
      ],
      "id": "6c0f8879-1aef-4779-822c-15c765487329",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "5547ujCug3lviFZI",
          "mode": "list",
          "cachedResultName": "internship workflow table",
          "cachedResultUrl": "/projects/5H61CNjiBsq8tXQQ/datatables/5547ujCug3lviFZI"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "videoid",
              "keyValue": "={{ $('Code in JavaScript2').item.json.video_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "videoid": "={{ $('Code in JavaScript2').item.json.video_id }}",
            "premade_summary": "={{ $('Code in JavaScript2').item.json.premade_summary }}",
            "pipeline_summary": "={{ $('Code in JavaScript2').item.json.pipeline_summary_output }}",
            "accuracy_percentage": "={{ $json.accuracy_percent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "videoid",
              "displayName": "videoid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "premade_summary",
              "displayName": "premade_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pipeline_summary",
              "displayName": "pipeline_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "accuracy_percentage",
              "displayName": "accuracy_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1696,
        720
      ],
      "id": "55da28ec-fb76-47f4-8c85-964a88ec9c16",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "5547ujCug3lviFZI",
          "mode": "list",
          "cachedResultName": "internship workflow table",
          "cachedResultUrl": "/projects/5H61CNjiBsq8tXQQ/datatables/5547ujCug3lviFZI"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        928,
        512
      ],
      "id": "db85a2dc-299c-4ac0-bc33-5deae27a365f",
      "name": "Get row(s)",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa75bdb4-09e4-4dc2-b139-315821fd3cfa",
              "name": "videoid",
              "value": "={{ $json.videoid }}",
              "type": "string"
            },
            {
              "id": "609570e0-91cd-44a7-ab58-c55cdcc2cc94",
              "name": "accuracy_percentage",
              "value": "={{ $json.accuracy_percentage }}",
              "type": "string"
            },
            {
              "id": "59fe2445-f1df-436d-ad2b-7e02ea7f824a",
              "name": "pipeline_summary",
              "value": "={{ $json.pipeline_summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        512
      ],
      "id": "2135413a-ab85-4c5d-912a-ca0e0f44c657",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract JSON from all items\nconst data = items.map(item => item.json);\n\n// Auto-detect all keys across items (CSV header)\nconst headers = [...new Set(data.flatMap(obj => Object.keys(obj)))];\n\n// Build CSV rows\nconst csvRows = [];\n\n// Header row\ncsvRows.push(headers.join(\",\"));\n\n// Data rows\nfor (const row of data) {\n  csvRows.push(\n    headers.map(h => {\n      const val = row[h] ?? \"\";\n      // CSV escape (commas, quotes, newlines)\n      return `\"${String(val).replace(/\"/g, '\"\"')}\"`\n    }).join(\",\")\n  );\n}\n\nconst csvString = csvRows.join(\"\\n\");\n\n// Convert CSV → binary buffer\nconst buffer = Buffer.from(csvString, \"utf-8\");\n\n// Return as binary for Write Binary File node\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: buffer.toString(\"base64\"),\n        mimeType: \"text/csv\",\n        fileName: \"video_summaries.csv\"  // <- change name if you like\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        512
      ],
      "id": "67bdc56f-85df-4887-aa79-f3a6f702f3bb",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/my_stuff/coding/Video-Summary-Generator/notebooks/results.csv",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1552,
        512
      ],
      "id": "3f2af680-d4e6-411a-a004-1c1d0f57c3d6",
      "name": "Read/Write Files from Disk3"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e018d6b2-a054-4740-ab69-13b77397cd26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f571a66d3b8427581d89bd87e9511e178ea339ae53629f9f8732768f5b942426"
  },
  "id": "sWSm7QPVbxo2cB6e",
  "tags": []
}